<div class="page">
 <header role="banner class="header">
    <div class="wrapper">
      {{ page.header }}

      {{ page.logo }}

      {{ page.primary_menu }}

      {{ page.social }}

      {{ page.search}}

    </div>
    {{ page.creativity}}
  </header>

  <div class="line-gradient"></div>

  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    {{ page.content }}
  </main>
  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}
</div>
